:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --spartan: "Spartan", sans-serif;
}
html {
  font-size: 15px;
}
body {
  background-color: var(--white);
  margin: 0;
}
#pattern-top {
  background-image: url("./images/bg-pattern-top-desktop.svg");
  background-repeat: no-repeat;
}
#pattern-bottom {
  background-repeat: no-repeat;
  background-image: url("./images/bg-pattern-bottom-desktop.svg");
  background-position: bottom right;
}
.main-text h1 {
  margin-top: 0;
}
@media only screen and (max-width: 500px) {
  #pattern-top {
    background-image: url("./images/bg-pattern-top-mobile.svg");
  }
  #pattern-bottom {
    background-image: url("./images/bg-pattern-bottom-mobile.svg");
  }
}
